@using Mysoft.Tjqxj.Models.ViewModel
@model Mysoft.Tjqxj.Models.ViewModel.GetWeatherVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.RealtimeClimateInfo.Address</title>
    <link href="http://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
    <link href="~/tjqxj/css/getweather/getweather.css" rel="stylesheet" />
</head>
<body>
<div class="page__bd page__bd_spacing" id="maindiv">
    <div class="weui-flex" id="tempturediv" style="text-align: center">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="width: 100%; display: block;margin-top: 20%">
            <div class="weui-media-box__hd img" style="float: left">
                <img class="weui-media-box__thumb" src="/tjqxj/images/weather/@(ClimateInfo.GetClimateIconName(Model.ClimateInfo.Skycons[0]["value"])).png" alt="">
            </div>
            <div class="weui-media-box__bd desc">
                <p class="weui-media-box__title">@(Model.RealtimeClimateInfo.Tempture)&#8451;</p><br/>
                <p class="weui-media-box__desc">天气：@(Model.RealtimeClimateInfo.ClimateDescription)</p><br/>
                <p class="weui-media-box__desc">雨况：@(Model.RealtimeClimateInfo.RainDescription)</p>
            </div>

        </a>
        

    </div>
    <div class="weui-flex" id="otherdatadiv">
        <div class="weui-flex__item">
            <div class="placeholder">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="~/tjqxj/images/weather/aqi.png" style="width:25px;margin-left:5px;display:block" />
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>@(Model.RealtimeClimateInfo.AQI)</p>
                    </div>

                </a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd">
                        <img src="~/tjqxj/images/weather/pm.png" style="width:25px;margin-left:5px;display:block"/>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <p>@Model.RealtimeClimateInfo.PM</p>
                    </div>

                </a>
            </div>
        </div>
    </div>

    <div class="weui-flex">
        <div class="weui-grids" style="width: 100%">
            @for (int i = 1; i < Model.ClimateInfo.DateInfos.Count; i++)
            {
                <a href="javascript:;" class="weui-grid">
                    <p class="weui-grid__label">@Model.ClimateInfo.DateDisplay[i]</p>
                    <p class="weui-grid__label">@ClimateInfo.GetClimateDisplayName(Model.ClimateInfo.Skycons[i]["value"])</p>
                    <div class="weui-grid__icon">
                        <img src="~/tjqxj/images/weather/@(ClimateInfo.GetClimateIconName(Model.ClimateInfo.Skycons[i]["value"])).png"/>
                    </div>
                    <p class="weui-grid__label">@(Model.ClimateInfo.Temperatures[i]["avg"])&#8451;</p>
                </a>
            }
        </div>
    </div>
</div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
